# Dependencies
node_modules/
.pnp
.pnp.js
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Testing
.coverage
htmlcov/

# Next.js
.next/
out/
build/

# Build & System
dist/
.DS_Store
*.pem
.vscode/

# Environment variables (CRITICAL DO NOT COMMIT)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
*.env
!.env.example

# Private info
rules.md
commit.sh